<div class="flex justify-center items-center mt-4">
  <h2>
    If you have any problems, queries or suggestions, please feel free to contact us at <%= mail_to "hello@maptiviti.com", class: "underline text-purple" %>.
  </h2>
</div>

